In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Telecom.csv")
df.head()

  Gender TT_gt_100 Response
0      F         Y        N
1      M         N        N
2      M         N        N
3      F         Y        Y
4      F         N        N

In [ ]:
dum_df = pd.get_dummies(df,drop_first=True)
dum_df.head()

   Gender_M  TT_gt_100_Y  Response_Y
0         0            1           0
1         1            0           0
2         1            0           0
3         0            1           1
4         0            0           0

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ohc=OneHotEncoder(drop="first")

In [ ]:
ohc_df=ohc.fit_transform(df).toarray()

In [ ]:
print(ohc.categories_)

[array(['F', 'M'], dtype=object), array(['N', 'Y'], dtype=object), array(['N', 'Y'], dtype=object)]